<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418221469367-80e4574ifvja47a964gm8ul3ha2ddrr9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418221469367-80e4574ifvja47a964gm8ul3ha2ddrr9</string>
	<key>API_KEY</key>
	<string>AIzaSyCIwfuiHxgwiJleUSyJiZl_0xKqmhYSEQs</string>
	<key>GCM_SENDER_ID</key>
	<string>418221469367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stage.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>stage-33c5a</string>
	<key>STORAGE_BUCKET</key>
	<string>stage-33c5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418221469367:ios:1ec87d710ab73c1bd0a732</string>
	<key>DATABASE_URL</key>
	<string>https://stage-33c5a-default-rtdb.firebaseio.com</string>
</dict>
</plist>